.background-blur {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("/static/fond.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}
